/* 
    Created on : 18/01/2019, 11:36:57
    Author     : ML - Manutenção Lira
*/

.art, .art2{width: 100%; height: 500px; position: absolute;}
.art{-webkit-clip-path: polygon(65% 69%, 100% 9%, 100% 100%, 5% 100%); clip-path: polygon(65% 69%, 100% 9%, 100% 100%, 5% 100%); background: #fbc02d; z-index: -2;}
.art2{-webkit-clip-path: polygon(69% 72%, 100% 15%, 100% 100%, 5% 100%); clip-path: polygon(69% 72%, 100% 15%, 100% 100%, 5% 100%); background: #000; z-index: -1;}
.main_card_content{position: relative; z-index: 2;}
.main_card_title{width: 100%; margin: 20px 0 30px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.main_card_title::after{content: ''; display: block; width: 350px; margin: 10px auto; border-bottom: 1px solid #fbc02d;}
.main_card_title h1{font-size: 1.4em; margin-bottom: 5px; font-weight: bold;}
.main_card_title p{font-size: 0.875em;}
.main_card_01{float: left; width: 50%; margin: 80px 5% 0 5%;}
.main_card_01 h2{font-size: 1.2em; font-weight: bold; margin-bottom: 10px;}
.main_card_01 p{font-size: 0.9em; margin-bottom: 20px;}
.main_card_02{float: left; width: 30%;}
.main_card_02 ul li{padding: 15px; position: absolute; border-radius: 10px; transform: rotateY(-45deg) rotateX(20deg); border-bottom: 4px solid rgba(0,0,0,0.3); transition: 0.5s;}
.main_card_02 ul li span{float: left; font-size: 20px; padding: 20px 30px;}
.main_card_02 ul li h3{font-size: 0.9em; margin-bottom: 5px;}
.main_card_02 ul li p{font-size: 0.8em;}
.main_card_02 ul li:nth-child(1){background-color: rgba(255,255,255,0.5); z-index: 1;}
.main_card_02 ul li:nth-child(2){background-color: rgba(255,255,255,0.5); top: 180px; z-index: -1;}
.main_card_02 ul li:nth-child(3){background-color: rgba(255,255,255,0.5); top: 262px; z-index: -2;}
.main_card_02 ul li:hover{transform: rotateY(-20deg) rotateX(7deg) scale(1.03); background: rgba(251, 192, 45, 0.8); margin-right: 20px; z-index: 1;}

